
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(122, 168, 153);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav--container {
  display:flex;
  text-align: center;
}

.header--container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
}

img {
  display:block;
  border-radius: 40%;
  max-width: 30%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}